<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="981c2254-5046-457c-a9c3-431e5c0a5381" Publisher="CN=btang" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Box.V2.W8</DisplayName>
    <PublisherDisplayName>btang</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Box.V2.W8.App">
      <VisualElements DisplayName="Box.V2.W8" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Box.V2.W8" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="sharedUserCertificates" />
    <Capability Name="internetClient" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.certificates">
      <Certificates />
    </Extension>
  </Extensions>
</Package>