name: Build and Test (Legacy)

on:
  push:
    branches:
      - combined-sdk
  pull_request:
    types: [opened, synchronize]

jobs:
  framework:
    name: Build and Test - Framework
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: dotnet build .\LegacySdk\Box.V2
      - name: Test
        run: dotnet test .\LegacySdk\Box.V2.Test -f net462

  core:
    name: Build and Test - Core
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            2.0.0
            2.2.x
            3.1.x
            5.0.x
            6.0.x
      - name: Build
        run: dotnet build .\LegacySdk\Box.V2.Core
      - name: Test netcoreapp2.0
        run: dotnet test .\LegacySdk\Box.V2.Test -f netcoreapp2.0
      - name: Test netcoreapp2.2
        run: dotnet test .\LegacySdk\Box.V2.Test -f netcoreapp2.2
      - name: Test netcoreapp3.1
        run: dotnet test .\LegacySdk\Box.V2.Test -f netcoreapp3.1
      - name: Test net5.0
        run: dotnet test .\LegacySdk\Box.V2.Test -f net5.0
      - name: Test net6.0
        run: dotnet test .\LegacySdk\Box.V2.Test -f net6.0
