name: Integration tests (Legacy)

on:
  push:
    branches:
      - combined-sdk
  pull_request:
    types: [opened, synchronize]

jobs:
  core:
    name: Integration tests
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "2.0.0"
      - name: Test
        env:
          INTEGRATION_TESTING_CONFIG: ${{ secrets.INTEGRATION_TESTING_CONFIG }}
        run: dotnet test .\LegacySdk\Box.V2.Test.Integration -f netcoreapp2.0
