name: Lint Code Base

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read
  statuses: write

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Lint Code Base
        uses: super-linter/super-linter@v8
        env:
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_YAML: false
          VALIDATE_JSCPD: false
          VALIDATE_POWERSHELL: false
          VALIDATE_EDITORCONFIG: false
          VALIDATE_MARKDOWN: false
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_CHECKOV: false
          VALIDATE_GITHUB_ACTIONS_ZIZMOR: false
          NATURAL_LANGUAGE_CONFIG_FILE: .textlintrc
          DEFAULT_BRANCH: combined-sdk
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FILTER_REGEX_EXCLUDE: ".*BoxSdkGen/.*"
